@font-face {
    font-family: 'rye';
    src: url("../fonts/rye.ttf") format("truetype");
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(./img_pollo_locco/img/10_project_img/desert-bg.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'rye', Arial, Helvetica, sans-serif;
}

canvas {
    background-color: black;
}

h1 {
    color: rgb(26, 16, 3);
    font-size: 64px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

/* Der übergeordnete Container zentriert alles */
#center-container {
    display: flex;
    justify-content: center; /* Horizontal zentrieren */
    align-items: center; /* Vertikal zentrieren */
    width: 100vw; /* Füllt die gesamte Breite */
    height: 100vh; /* Füllt die gesamte Höhe */
    position: relative; /* Grundlage für absolute Positionierung von Kind-Elementen */
}

/* Canvas */
canvas {
    position: absolute; /* Damit der Canvas zentriert bleibt */
    width: 720px; /* Feste Breite */
    height: 480px; /* Feste Höhe */
    background-color: black;
    z-index: 1; /* Hinter anderen Bildschirmen */
}


#start-screen {
    position: absolute;
    width: 720px;
    height: 480px;
    transform: translate(0%, -5%);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    z-index: 3; 
}

#start-image {
    width: 100%;
    height: 100%;
    max-width: 720px; 
}

.end-screen {
    position: absolute;
    width: 720px;
    height: 480px;
    display: flex;
    transform: translate(0%, -5%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.hidden {
    display: none;
}

#game-over-screen img {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 40vh;
    object-fit: cover;

}

#you-win-screen img {
    position: relative;
    top: 15%;
    max-width: 75%;
    object-fit: contain;
    margin-bottom: 180px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -90px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid #8B4513;
    border-radius: 10px;
    background-color: #FFD700;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 #8B4513;
    transition: all 0.2s ease-in-out;
}

.button-container button:hover {
    background-color: #FFA500;
    transform: translateY(-2px);
    box-shadow: 3px 3px 0 #8B4513;
}

.button-container button:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 0 #8B4513;
}