@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .end-screen {
        transform: translate(0%, -23px);
    }
}

@media only screen and (min-width: 1200px) {
    .mobile-button-container {
        display: none;
    }
}

@media only screen and (min-width: 666px) and (max-width: 1024px) and (orientation: landscape) {
    h1 {
        display: none;
    }

    canvas,
    #game-over-screen {
        /* width: 100vw; */
        height: 100vh;
    }

    #game-over-screen img {
        height: 100vh;
        width: 100vw;
    }

    #top-buttons {
        top: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    #game-over-screen img {
        height: 60vh;
    }
}

@media only screen and (max-device-width: 667px) and (max-device-height: 375px) and (orientation: landscape) {
    #start-button {
        right: 76px;
        transform: none;
    }

    #top-left-buttons {
        margin-left: 16px;
    }
}